input(type="checkbox", checked)
input(type="checkbox", checked=true)
input(type="checkbox", checked="checked")
input(type="checkbox", checked=false)

select
  option(selected) Option1
  option(selected=false) Option2
  option(selected="selected") Option3

span(v-if="true")
span(v-else)
